.input-style{
    font-size: 0.8rem;
    border-color: green;
    width: 95%;
}

.input-style:focus{
    box-shadow: 0px 0px;
    border-color: green;
    background-color: rgb(255, 248, 248);
}

select {
    background-color: rgb(216, 236, 215);
    border: none;
    border-radius: 10px;
    margin: 10px;

}

option {
    background-color: rgb(216, 236, 215);
}


